body {
	background-color: white;
	width: 100%;
	font-family: "Josefin Sans", sans-serif;
}

#search-box {
	margin: 0 auto;
	padding: 2em 4em;
	width: 26em;
	background-color: crimson;
	box-sizing: border-box;
	border-radius: 1em;
}

h2 {
	color: white;
	text-align: center;
}

#query {
	font-family: "Josefin Sans", sans-serif;
	font-size: 1em;
	padding: 0.4em 0.4em;
	width: 17em;
}
#search-results {
	margin: 0 auto;
	width: 30em;
	padding: 1em 0em;	
}
