body {
	background-color: whitesmoke;
	width: 100%;
	font-family: "Josefin Sans", sans-serif;
}

#search-box {
	margin: 0 auto;
	width: 26em;
	padding: 2em 4em;
	background-color: crimson;
	box-sizing: border-box;
	border-radius: 1em;
}

h2 {
	color: white;
	text-align: center;
}

#query {
	font-family: "Josefin Sans", sans-serif;
	font-size: 1em;
	padding: 0.4em 0.4em;
	width: 17em;
}
#search-results {
	margin: 0 auto;
	width: 20em;
	padding: 1em 0em;	
}

#toggle {
	margin: 0 auto;
	width: 7.3em;
}

button {
	display: inline-block;
	font-family: "Josefin Sans", sans-serif;
	font-size: 1em;
	padding: 0.4em 0.4em;
	background-color: black;
	color: white;
	box-sizing: border-box;
	border-radius: 0.4em;
	border: 1px black solid;
	cursor: pointer;
}